<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/style.css">


    <title>RoboHockey</title>
  </head>
  <body>
      <nav class="navbar">
        <div>
            <ul>
                <li><a href="/">RoboHockey</a></li>
                <li><a class="active" href="/sensoren">Sensoren</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <img src="it102-2/Ontwerp Eindproduct.gif" alt="RoboHockey" >
    </div>

   </body>
</html>
