<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/style.css">


    <title>Welcome to RoboHockey</title>
  </head>
  <body>
    <div class="background">
        <img src="./Ontwerp Eindproduct.gif" alt="Robohockey">
    </div>

    <nav class="navbar">
        <div>
            <ul>
                <li><a href="/">RoboHockey</a></li>
                <li><a class="active" href="/sensoren">Sensoren</a></li>
            </ul>
        </div>
    </nav>

    <div class="title">
        <h1>Welcome to the Sensors Page</h1>
    </div>

        <table class="table">

            <tr>
                <th>ID</th>
                <th>ultrasonic</th>
            </tr>
             {% for row in value %}
                    <tr>
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                    </tr>

                <div>
                    {% if imp[3][0] == 'abc' or imp[3][0] == 'def' %}
                        <p>there is a error on the website</p>
                    {% endif %}
                </div>
             {% endfor %}
        </table>
   </body>
</html>
