<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Game</title>
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <script>
            var returnValue = function () {
                fetch('/api')
                    .then((response) => response.json())
                    .then((data) => {
                        console.log(data);
                        document.getElementById("scoreID").innerHTML = data.score;
                        document.getElementById("timerID").innerHTML = data.time;
                        if (data.time <= 0) {
                            // Simulate a mouse click:
                            window.location.replace("gameover");
                        }
                    });
                
            }
            setInterval(returnValue, 500)
        </script>
        <h1>De score: <span id="scoreID">#</span></h1>
        <h2>Naam speler: {{nameUser}}</h2>
        <h2>Tijd over: <span id="timerID">###</span></h2>

        <img src="https://media.tenor.com/Np_76U9KyfoAAAAC/woo-yeah-oh-yeah.gif" alt="dancin man" style="width:48px;height:48px;">
        <br>
        <!--
        <a href="/gameover">
            <button class="button">Stop Spel</button>
        </a>
        -->
    </body>
</html>
