<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Game</title>
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <script>
            var returnValue = function () {
                fetch('/api')
                    .then((response) => response.json())
                    .then((data) => {
                        console.log(data);
                        document.getElementById("scoreID").innerHTML = data.score;
                    })
            }
            setInterval(returnValue, 500)
        </script>
        <h1>De score: <span id="scoreID">#</span></h1>
        <h2>Name user: {{name_user}}</h2>

        <img src="https://media.tenor.com/Np_76U9KyfoAAAAC/woo-yeah-oh-yeah.gif" alt="dancin man" style="width:48px;height:48px;">
        <br>
        <a href="/gameover">
            <button class="button">Tijdelijke "Continue" knop</button>
        </a>
    </body>
</html>