<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Robohockey</title>
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <!-- <h1>{{testindex}}</h1> -->
        <h1>Welkom bij Robohockey!</h1>
        <h2>
            Een korte uitleg:
        </h2>
        <p>
            Robohockey werk eigenlijk net zoals normale ijshockey, maar dan speel je tegen een robot in plaats van een mens.
            Probeer zo veel mogelijk punten te scoren in 2 minuten.
            Vul hieronder je naam in en druk dan op "Start Spel" om het spel te starten.
        </p>
        <form action="/startgame" method="POST">
            <label for="name">Naam:</label><br>
            <input type="text" id="name" name="name"><br>
            <a href="/startgame">
                <input type="submit" value="Start Spel">
            </a>
        </form>
        <!--
        <a href="/startgame">
            <button onclick class="button">Start Spel</button>
        </a>
        -->
        <!--
        <script>
            var returnValue = function () {
                fetch('/api')
                    .then((response) => response.json())
                    .then((data) => {
                        console.log(data);
                        document.getElementById("displayID").innerHTML = data.Yomamma;
                    })
            }
            setInterval(returnValue, 5000)
        </script>
        -->
        <!-- <h1>De waarde: <span id="displayID">#</span></h1> -->
    </body>

</html>